<script>
  import { storesStorage } from "../storages/stores";

  let loading = false;
  let sector = "";
  let name = "";
  let regions = [
    { id: 7, text: `Región Metropolitana` }
  ];
  let selected_region = regions[0];



  async function handleSubmit() {
    try {
      loading = true;
      var currentLocation = window.location;
      var uri = `http://${currentLocation.hostname}:3000/stores?id_region=${selected_region.id}`;
      if (sector) uri += `&sector=${sector}`;
      if (name) uri += `&name=${name}`;

      const res = await fetch(uri);
      const result = await res.json();
      loading = false;

      if (res.ok) {
        storesStorage.set(result);
      } else {
        throw new Error(result);
      }
    } catch (error) {
      throw error;
    }
  }

  function handleClick() {
    promise = getRandomNumber();
  }
</script>

<form
  class="pure-form pure-form-aligned"
  on:submit|preventDefault={handleSubmit}>
  <fieldset>
    <div class="pure-control-group">
      <label for="region">Región</label>
      <select id="region" bind:value={selected_region}>
        {#each regions as region}
          <option value={region}>{region.text}</option>
        {/each}
      </select>
    </div>
    <div class="pure-control-group">
      <label for="comuna">Comuna</label>
      <input id="comuna" bind:value={sector} placeholder=" nombre comuna" />
    </div>
    <div class="pure-control-group">
      <label for="nombre">Nombre local</label>
      <input id="nombre" bind:value={name} placeholder="nombre farmacia" />
    </div>

    <div class="pure-controls">
      <button
        class="pure-button pure-button-primary"
        disabled={!selected_region || loading}
        type="submit">
        Buscar
      </button>
      {#if loading}
      <i class="fas fa-lg fa-spinner fa-pulse"></i>
      {/if}
    </div>

  </fieldset>
</form>
