<script>
  import { onMount, setContext } from "svelte";
  import { mapbox, key } from "./mapbox.js";
  import { storesStorage } from "../storages/stores";

  setContext(key, {
    getMap: () => map
  });

  let lat = -38;
  let lon = -70;
  let zoom = 4;

  let container;
  let map;
  let bounds;
  let markers = [];
  let storesData;

  const unsubscribe = storesStorage.subscribe(value => {
    removeMarkers();
    storesData = value;
    storesData.forEach(store =>
      addMarker(store.lat, store.lng, store.name, store.address, store.phone)
    );
    fitMarkers();
  });

  function addMarker(lat, lon, name, address, phone) {
    var text = "<i class=\"fas fa-clinic-medical\"></i><strong>" + name + "</strong>";
    if (address.length > 5) text += "<div><i class=\"fas fa-map-marker-alt\"></i>" + address + "</div>";
    if (phone.length > 5) text += "<i class=\"fas fa-phone-alt\"></i><i>" + phone + "</i>";
    const popup = new mapbox.Popup({ offset: 25 }).setHTML(text);

    const marker = new mapbox.Marker()
      .setLngLat([lon, lat])
      .setPopup(popup)
      .addTo(map);

    markers.push(marker);
  }

  function fitMarkers() {
    if (!map || markers.length < 2) return;
    map.fitBounds([
      [storesData[0].lng, storesData[0].lat],
      [
        storesData[storesData.length - 1].lng,
        storesData[storesData.length - 1].lat
      ]
    ]);
    // map.setZoom(7);
  }

  function removeMarkers() {
    markers.forEach(marker => marker.remove());
    markers = [];
  }
  onMount(() => {
    const link = document.createElement("link");
    link.rel = "stylesheet";
    link.href = "https://unpkg.com/mapbox-gl/dist/mapbox-gl.css";

    link.onload = () => {
      map = new mapbox.Map({
        container,
        style: "mapbox://styles/glpunk/ck4rqssyw3eou1cqs7fujln2s",
        center: [lon, lat],
        zoom
      });
    };

    document.head.appendChild(link);

    return () => {
      map.remove();
      link.parentNode.removeChild(link);
    };
  });
</script>

<style>
  div {
    width: 100%;
    height: 500px;
  }
  .fas{
    min-width: 18px;
  }
</style>

<div bind:this={container}>
  {#if map}
    <div {lat} {lon} {zoom} />
  {/if}
</div>
