<script>
  import Form from "./modules/form.svelte";
  import Map from "./modules/map.svelte";
</script>

<style>
  .l-box {
    padding: 0 1em;
  }
</style>

<main class="pure-g">
  <div class="pure-u-1-1 l-box">
    <h1><i class="fas fa-mortar-pestle"></i> Farmacias de turno</h1>
  </div>
  <div class="pure-u-1-1 l-box">
    <Form />
  </div>
  <div class="pure-u-1-1 l-box">
    <Map />
  </div>
</main>
